<center>
	<body>
		<title="quattro"></title>
		<p>
			<img src="http://files.prof-web-diego.webnode.pt/200000028-04da905d3d/Oxford_Silhouette_Web_Banner.jpg" width="100%" height="150">
		</p>
		<p>
			<font face="Impact" size="3">quattro#index</font>
		</p>
		<p>
			<a href="http://www.outorbed.com">www.outorbed.com</a>
			<br>
			<small><font face="Impact">by Vanzo32</font></small>
			<hr>
			<small>End Page</small>
		</p>
	</body>
</center>